img{
    position:absolute
}

#carbottom{
    margin-left: 0px;

    top:100px;
    height: 150px;
    width:150px;

    animation-name: spin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#cartop{
    top: 300px;
    height: 150px;
    width: 150px;
}

#FinishLine{
    margin-left: 1420px;
    width: 10px;
    height: 500px;
    background-color: blue;
}

@keyframes spin {
    100% {
        transform: rotateY(360deg);
    }
}